:root {
    --bs-primary: #fd7e14;
    --bs-primary-rgb: rgb(253, 126, 20);
    --bs-secondary: #8300c7;
    --bs-secondary-rgb: rgb(131,0,199);
    --bs-border-radius: 32px;
    --bs-navbar-color: var(--bs-primary);
    --border-radius-large: 64px;
    --gradient: linear-gradient(135deg, var(--bs-secondary) 0%, var(--bs-primary) 50%);
    --webkit-gradient: -webkit-linear-gradient(315deg, var(--bs-secondary) 0%, var(--bs-primary) 50%); 

}
body {
    font-family: "Comfortaa", cursive;
}
.card--for-gradient {
    padding: 3px;
}
.card__inner {
    background-color: white;
    border-radius: var(--bs-border-radius);
}
.text-gradient {
    background: var(--webkit-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.link-gradient-hover:hover {
    background: var(--webkit-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-gradient {
    /* background: rgb(131,0,199); */
    background: var(--gradient) !important;
}
.rounded--large, .rounded--large > * {
    border-radius: var(--bs-border-radius-large);
}
.logo__bubbles {
    width: 400px;
}
.logo__image {
    width: 150px;
    margin-top: -80px;
}
.accordion-button {
    border-color: var(--bs-primary);
    border-width: 3px;
}
.accordion-button:not(.collapsed) {
    background: var(--gradient);
    color: white;
}
.accordion-button:focus {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(253,126,20,0.25);
}
.nav {
    --bs-nav-link-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
}
.nav-link:focus, .nav-link:hover {
    background: var(--webkit-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--bs-primary);
}
.text-body {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color-rgb),var(--bs-text-opacity));
}